  <h2>Backup your UserData Folder!</h2>
  <p>To save heartache and data loss, it's good to practice safe data storage. You can back up your Foundry VTT user data at any time by following <a href="https://www.youtube.com/watch?v=OmbxMmqNNXU">this guide</a>.</p>
  <p><center><img src="modules/backup-nag/assets/backup-bear.png" alt="" width="248" height="317" style="border:none" /></center></p>
  <table>
  <tbody>
  <tr>
  <td width="70%" style="text-align: right;"><label for="remind">Remind me in <input id="count_days" value="7" type="number" style="width:40px; text-align: center"> Days</label></td>
  <td>  <input type="radio" id="days" checked name="remind" value="0"></td>
  </tr><tr>
  <td width="70%" style="text-align: right;"> <label for="never">I have a solid back up routine.<br>Do not show this again</label></td>
  <td><input type="radio" id="never" name="remind" value="-1"></td>
  </tr>
  </table>